/* ==============================================
# Pagination area
============================================== */
/* Pagination */
.pagination {
	display: flex;     
	justify-content: center;
	align-items: center;
	gap: 1rem;   

	ul {
		display: flex;
		gap: 0.250rem;
			
		a, 
		strong{
			display:block; 
			padding:8px 15px; 
			background-color: $primary-color;
			border:1px solid $tertiary-color;  
			color:lighten($highlight-color, 10%); 
			background-clip:padding-box; 
			font-weight:bold;
			border-radius: 0.3rem;
			transition: background-color 0.5s ease, color 0.5s ease;
		}   
			
		a:hover{
			background-color:lighten($highlight-color, 50%); 
			border:1px solid lighten($highlight-color, 10%);
		}  
			
		.current *{
			background-color:lighten($highlight-color, 10%); 
			color:$primary-color; 
			border:1px solid lighten($highlight-color, 10%);
		}            
	}     
}

/* # Tablet ------------------------------------------ */
/*A partir de 768px se aplicarán estos estilos => 768px
Tabletas verticales o celulares horizontales*/
@media (min-width: 768px) {

	.pagination {
		flex-direction: column;
		gap:0.5rem;
	}	

}

/*A partir de 1024px se aplicarán estos estilos => 1024px
Tabletas horizontales*/
@media (min-width: 1024px) {
	
.pagination {flex-direction: row;}	
	
}