/* ==============================================
# MODAL
============================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  //display: flex;
  justify-content: center; 
  align-items: center;

  .modal-content {
    background-color: $primary-color;
    //margin: 5% auto;
    padding: 0;
    border: 1px solid $tertiary-color;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 1rem; 
    } 
    
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $tertiary-color; 
    
      h2{
        margin:0;
      }
    
      .btn-close {
        font-size: 24px;
        font-weight: bold;
        color: $tertiary-color;
        cursor: pointer;
        transition: color 0.3s;
      
        &:hover {
          color: $primary-text-color;
        }  
      }  
    } 

    .modal-body {
      max-height: 400px;
      overflow-y: auto;
    }
    
    .modal-footer {
      border-top: 1px solid $tertiary-color;
      display: flex;
      justify-content: space-between; 
    }

  }  
  
}

/*Sólo para este proyecto*/
.modal {
  .tabs-container {
    margin-bottom: 0;
  }
}

/* ==============
# MEDIAQUERIES
============== */
/* # Mobile
----------------------------------------------- */
/*A partir de 576px se aplicarán estos estilos*/
@media (min-width: 576px) {}
/* # Tablet
----------------------------------------------- */
/*A partir de 768px se aplicarán estos estilos*/
@media (min-width: 768px) {

  .modal {
    .modal-content {    
      max-width: 1000px;
    }    
  }

}
/* # Desktop
----------------------------------------------- */
/*A partir de 992px y 1200 se aplicarán estos estilos*/
@media (min-width: 992px) {}

@media (min-width: 1200px) {}

