.alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity .5s ease, transform .5s ease;

  &.alert-success{
    background-color:lighten($success-color, 40%);
    border: 1px solid $success-color;
    p,i{
      color:$success-color;
      font-weight: bold;
    }
  }
  &.alert-warning{
    background-color:lighten($warning-color, 40%);
    border: 1px solid $warning-color;
    p,i{
      color:$warning-color;
      font-weight: bold;
    }    
  }
  &.alert-danger{
    background-color:lighten($danger-color, 40%);
    border: 1px solid $danger-color;
    p,i{
      color:$danger-color;
      font-weight: bold;
    }
  }

  &.hide {
    opacity: 0;
    transform: translateY(-10px); /* Desplazamiento hacia arriba al cerrar */
    pointer-events: none; /* Desactivar eventos al cerrar */
  }  

  p{
    margin: 0;
    color:$primary-color;
  }

  .btn-close {
    box-sizing: content-box;
    background-color: inherit;
    color: $primary-color;
    padding: 0.5rem;
    border: 0;
    opacity: .5;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
  
    &:hover {
      opacity: 1;
    }  
  }  

}
