/* ==============================================
# BUTTONS
============================================== */
.btn {
  display: inline-block;
  padding: .375rem .75rem;
  border: 1px solid transparent;
  border-radius:.25rem;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  i{
    font-size:1rem;
    line-height: 1.5;
    margin-right: 0.25rem;
  }
}

/* Btn-properties */
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm {
  padding: .25rem .5rem;
  font-size: .750rem;
  line-height: .5rem;
  border-radius: .2rem;

  i{ 
    font-size: .750rem;
    line-height: .5rem;
  }
}

/*--------------- Btn-light ---------------*/
.btn-light {
  background-color: lighten($highlight-color, 50%);
  color: lighten($highlight-color, 10%); 
  border-color: lighten($highlight-color, 10%); 
  i {color: lighten($highlight-color, 10%);}

  &:hover{
    background: lighten($highlight-color, 10%); 
    color: $primary-color;
    i {color: $primary-color;}      
  }
}
/* btn-default-inverse */
.btn-light-inverse {
  background-color: $primary-color;
  color: lighten($highlight-color, 10%); 
  border-color: $tertiary-color;
  i {color: lighten($highlight-color, 10%);}
  
  &:hover {
    background-color: lighten($highlight-color, 50%);
    border-color: lighten($highlight-color, 10%); 
    i {color: lighten($highlight-color, 10%);}
  }
}

/*--------------- Btn-dark ---------------*/
.btn-dark {
  background-color: lighten($highlight-color, 10%);   
  color: $primary-color;
  i {color: $primary-color;}    

  &:hover{
    background:$highlight-color;
    color: $primary-color;
    i {color: $primary-color;}      
  }
}
/* btn-default-inverse */
.btn-dark-inverse {
  background-color: $primary-color;
  color: lighten($highlight-color, 10%); 
  border-color: lighten($highlight-color, 10%); 
  i {color: lighten($highlight-color, 10%);}
  
  &:hover {
    background-color: lighten($highlight-color, 10%);
    color: $primary-color; 
    i {color: $primary-color;}
  }
}

/*--------------- Btn-lighter ---------------*/
.btn-lighter {
  background-color: lighten($tertiary-color, 10%);   
  color: $sixty-color;
  i {color: $sixty-color;}    

  &:hover{
    background:$tertiary-color;
  }
}
/* btn-light-inverse */
.btn-lighter-inverse {
  background-color: $primary-color;
  color: $sixty-color; 
  border-color: lighten($tertiary-color, 10%);
  i {color: $sixty-color;}
  
  &:hover {
    background-color: $tertiary-color;
  }
}

/*--------------- Btn-danger ---------------*/
.btn-danger {
  background-color: lighten($danger-color, 50%);
  color: $danger-color;
  i {color: $danger-color;}    
  
  &:hover{
    background:$danger-color;
    color: $primary-color;
    i {color: $primary-color;}      
  }
}
/* btn-danger-inverse */
.btn-danger-inverse {
  background-color: $primary-color;
  color: $danger-color;
  border-color: $danger-color;
  i {color: $danger-color;}
  
  &:hover {
    background-color: $danger-color;
    color:$primary-color;
    i {color: $primary-color;}
  }
}

/*--------------- Btn-success ---------------*/
.btn-success {
  background-color: lighten($success-color, 40%);
  color: $success-color;
  i {color: $success-color;}    
  
  &:hover{
    background:$success-color;
    color: $primary-color;
    i {color: $primary-color;}      
  }
}
/* btn-danger-inverse */
.btn-success-inverse {
  background-color: $primary-color;
  color: $success-color;
  border-color: $success-color;
  i {color: $success-color;}
  
  &:hover {
    background-color: $success-color;
    color:$primary-color;
    i {color: $primary-color;}
  }
}

/*--------------- Btn-disable ---------------*/
.btn-disable {
  background-color: $secondary-color;
  color: $fourth-color;
  cursor:not-allowed;
  i {color: $fourth-color;}    
}    

/*--------------- Btn-Link ---------------*/
.btn-link {
  &:hover, &:active, &:focus{
    text-decoration: underline;
    color:$highlight-color;
  }
}

/*--------------- Btn-group ---------------*/
.button-group {
  display: inline-flex;
  border-radius: 0.25rem; 
  //width: 100%;

  button {
    margin: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    //width: 100%;
  }  
}

/* Botón izquierdo */
.button-left {
  background-color: $primary-color;
  color: lighten($highlight-color, 10%);  
  border: 1px solid lighten($highlight-color, 10%); 
  border-radius: 0.25rem 0 0 0.25rem; 

  &:hover {
    background-color: lighten($highlight-color, 10%); 
    color:$primary-color;
  }  
}

/* Botón derecho */
.button-right {
  background-color: lighten($highlight-color, 10%); 
  color: $primary-color;  
  border: 1px solid lighten($highlight-color, 10%); 
  border-radius: 0 0.25rem 0.25rem 0; 

  &:hover {
    background-color: $highlight-color;
    border: 1px solid $highlight-color;
  }  
}

/*Exclusivo para este proyecto*/
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

/*--------------- Btn-circle ---------------*/
.btn-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color:$primary-color;
  border: 1px solid $fourth-color;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:$sixty-color;}

  &:hover{
    background-color: lighten($highlight-color, 50%); 
    i{color:lighten($highlight-color, 10%);}
  }
}

.btn-circle-inverse {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: $seventy-color;
  border: 1px solid $seventy-color;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:$primary-color;}

  &:hover{
    background-color: $primary-color; 
    i{color:$seventy-color;}
  }
}
