/* # NAVBAR
---------------------------------------------- */
.navbar {
  background-color:$primary-text-color;
  padding: 10px;
  position: relative;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Elementos de la parte izquierda extrema*/
/*Logo*/
.navbar-logo {
  img {
    height: 40px;
    vertical-align: middle;
    margin-right: 1rem;
    max-width: none;
  }
}
/* Toggler */
.navbar-toggler {
  display: block;
  background: none;
  border: none;
  color:$primary-color;
  font-size: 24px;
  cursor: pointer;
}

/*--------------- Navbar ---------------*/
/* Navbar menu */
.navbar-menu {
  background-color: $fifth-color;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  /*overflow-y: auto;*/
  z-index: 2;
  &.active {display: flex;}
}
/*Navbar left an right contents*/
.navbar-left, .navbar-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Navbar-link */
/*No usado en este ejemplo de menu*/
.navbar-link {
  color:$primary-color;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  .navbar-link:hover {background-color: $tertiary-color;}
}

/*--------------- Dropdown menu---------------*/
.dropdown {
  position: relative;
  a i {margin-left: 0.5rem;}
}
/* Only for mobile */
.dropdown.active{
  .dropdown-toggle {background-color: $fourth-color;}
  .dropdown-menu {display: block;}  
}

/*Enlace principal del dropdown*/
.dropdown-toggle {
  color: $secondary-color;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  font-size:0.875rem;
}
.dropdown:hover .dropdown-toggle {background-color: $fourth-color;}
/*Si se utiliza imagen de usuario*/
.dropdown-toggle img.user{
  width:20px;
  border-radius:1rem;
  margin-bottom:-6px;
  margin-right:0.25rem;
}

/*dropdown-menu*/
.dropdown-menu {
  display: none;
  position: static; 
  width: 100%;
  background-color: $fourth-color;
  list-style: none;
  padding: 0;
  margin: 0;
  li {padding: 0;}
  a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #eee;
    font-size:0.875rem;
    &:hover {background-color: $tertiary-color;}
  }
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* # Mobile
-------------------------------------------------------------------- */
/*=> 640px Igual o mayor a 640px se aplicarán los siguientes estilos */
@media (min-width: 640px) { 
  /*Navbar
  -------------------------------*/  
  .navbar-menu form{
    flex-direction:row;
    align-items:center;
    select {
      width:100%;
      margin-bottom:0;
    }    
  }
}

/* # Tablet
-------------------------------------------------------------------- */
/*=> 768px Igual o mayor a 768px se aplicarán los siguientes estilos */
@media (min-width: 768px) {}

/*=> 1024px Igual o mayor a 1024px se aplicarán los siguientes estilos */
@media (min-width: 1024px) {
  
  /*Navbar
  -------------------------------*/
  .navbar {padding: 0 10px;}
  /* Toggler */
  .navbar-toggler {display: none;}
  /* Navbar menu */
  .navbar-menu {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    height: auto;
    /*overflow:hidden;*/
  }
  .navbar-left, .navbar-right {
    flex-direction: row;
    width: auto;
  }

  /*Dropdown toggle
  -------------------------------*/
  .dropdown:hover .dropdown-toggle {
    color:$highlight-color; 
    background-color: inherit; 
  }
  /* Dropdown menu */
  .dropdown:hover .dropdown-menu {display: block;}
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: $fifth-color;
    a {
      color: $primary-color;
      &:hover {background-color: $fourth-color;}
    }
  }
}

/* # Desktop
-------------------------------------------------------------------- */
/*=> 1280px Igual o mayor a 1280px se aplicarán los siguientes estilos */
@media (min-width: 1280px) {}
/*=> 1536px Igual o mayor a 1536px se aplicarán los siguientes estilos */
@media (min-width: 1536px) {}