/*::::::::::::::::::::::
:::::::::STYLES:::::::::
::::::::::::::::::::::*/
/* -----------------------------------------------
  # Reset
----------------------------------------------- */
html, body {
  /*height: 100%;*/
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
*, *::before, *::after {box-sizing: border-box;}
a {
  text-decoration: none;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  //Estados de botón
  /*
  &:hover, &:active, a:focus {
    text-decoration: underline;
  }  
  */
}

.no-scroll {overflow: hidden;}

aside,
footer,
header,
nav,
section {
  display: block;
}

/*
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
*/

ul, 
ol{
    margin:0; 
    padding:0; 
    list-style:none;
}

/*Transition*/
/* *, *::before, *::after{transition:all .2s ease-in-out;} */ 

/* -----------------------------------------------
  # Fonts
----------------------------------------------- */
body, form, label, input, textarea, select, a, .btn{
  font-family:$primary-font;
  font-size:0.875rem; /*font-size:14px;*/
  line-height: 1.1875rem;
  font-weight: 400;  
}
p,ul,ol {
  font-family:$primary-font;
  font-size:0.875rem;  
  line-height: 1.1875rem;
  font-weight: 400;  
  padding: 0;
}
p{margin-bottom: 20px;}
p:last-child {margin-bottom: 0;}
p.lead{
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
}
th,td {
  font-family:$primary-font;
  font-weight: 400;  
  font-size:0.875rem;  
}

a{font-size:0.875rem;}

small,.small {
  font-size: 85%;
  line-height: 1.25rem;
}

b,
strong {font-weight: bold;}
/*Títulos*/
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.home h1,.home h2 {
  font-family:$primary-font;
  font-weight: 600;
  margin: 0 0 0.25rem 0;
  padding: 0;
}
h1, .h1 { 
  font-size: 1.8rem; 
  line-height: 2.175rem;
}
h2, .h2 { font-size: 1.4rem; }
h3, .h3 { font-size: 1.2rem; }
h4, .h4 { font-size: 1.1rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 0.9rem; }
h2.teaser {
  font-family:$secondary-font;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  margin-top: 0px;
  text-transform: capitalize;
}
/*Eliminar esto, sólo es para este proyecto*/
h1 small{
  font-weight: normal;
  line-height: 1;
  color: #777;
  font-size: 65%;
}
.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}
.btn {
  font-family:$secondary-font;
  font-weight: normal;
}

/* -----------------------------------------------
  # Horizontal title
----------------------------------------------- */
h1 {
  display: flex;
  align-items: center;
  width: 100%; 
}

h1::after {
  content: "";
  flex-grow: 1;
  height: 2px; 
  background-color: $primary-text-color; 
  margin-left: 20px; 
}

/* -----------------------------------------------
  # Text styles
----------------------------------------------- */
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

/* -----------------------------------------------
  # Colours
----------------------------------------------- */
/*Body Scrollbar*/
body::-webkit-scrollbar{width: 10px; background-color:$primary-color;}/*Background color*/
body::-webkit-scrollbar-thumb{background:$tertiary-color;}/*Bar color*/
body {
  background: $secondary-color;
  color:$primary-text-color;
}
p,ul,ol{color:$primary-text-color;}
/*Teaser*/
h1,h2,h3,h4,h5,h6{color: $primary-text-color;}

a {
  color:lighten($highlight-color, 10%);  
  //Estados de botón
  &:hover, &:active, a:focus {
    color:$highlight-color;  
  }
}

/*Form*/
label{color:$primary-text-color;}
form, input, textarea, select,.form-control,.custom-select {
  color:$primary-text-color;
}

/*Text-color*/
.text-inverted {color:$primary-color;}
.text-success {color:$success-color;}
.text-danger {color:$danger-color;}
.text-warning {color:$warning-color;}

/*i{color:$highlight-color;}*/

/*Background colors*/
.bg-default {
  background-color:$primary-color;
  p{color:$primary-text-color;}
}
.bg-light {
  background-color:$secondary-color;
  p{color:$primary-text-color;}
}
.bg-dark {
  background-color: $fifth-color;
  p{color:$primary-color;}
}
.bg-darker {
  background-color:$primary-text-color; 
  p{color:$primary-color;}
}
.bg-success {
  background-color: $success-color; 
  p{color:$primary-color;}
}
.bg-danger {
  background-color: $danger-color; 
  p{color:$primary-color;}
}

/* -----------------------------------------------
  # Image styles
----------------------------------------------- */
img, object, embed, video {max-width: 100%;}

img{
    width:auto;
    height:auto;
    margin:0;
    vertical-align:middle;
}
.ie6 img {width:100%;}
.img-hover:hover {opacity: 0.8;}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w-100{width: 100%}
/*Background images*/
.bg-img{
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
}
.bg-attach{background-attachment: fixed;}
.img-circle {border-radius: 50%;}

/* -----------------------------------------------
  # Container filter with background image
----------------------------------------------- */
.overlay {
  position: relative;
  z-index: 1;
  color: $primary-color;
  background-color: inherit;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.55);
  }
}
.overlay.light::after{
  background-color:rgba(255,255,255,.55);
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* # Mobile ------------------------------------------
A partir de 640px se aplicarán estos estilos => 640px
Celulares horizontales
--------------------------------------------------- */
@media (min-width: 640px) {}

/* # Tablet ------------------------------------------ */
/*A partir de 768px se aplicarán estos estilos => 768px
Tabletas verticales o celulares horizontales*/
@media (min-width: 768px) {}

/*A partir de 1024px se aplicarán estos estilos => 1024px
Tabletas horizontales*/
@media (min-width: 1024px) {
  /* Márgenes y espaciados */
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6,
  .home h1,.home h2 {
    margin: 0 0 1.5rem 0;
  }

  h1, .h1 {font-size: 2rem;}
  h2, .h2 {font-size: 1.75rem;}
  h3, .h3 {font-size: 1.5rem;}
  h4, .h4 {font-size: 1.25rem;}
  h5, .h5 {font-size: 1rem;}
  h6, .h6 {font-size: 0.750rem;}
}

/* # Desktop
---------------------------------------------------- */
/*A partir de 1280px se aplicarán estos estilos => 1280px
Tabletas horizontales */
@media (min-width: 1280px) {}

/*A partir de 1536px se aplicarán estos estilos => 1536px
Tabletas horizontales */
@media (min-width: 1536px) {}