<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
	<title>Página</title>
	<link href="../assets/css/main.css" rel="stylesheet">
</head>
<body> 

  <!-- ======
  * SECTION *
  ======= -->
  <section class="bg-default py-5">
    <div class="container flex flex-col gap-5">    
      <h1>Styles Buttons</h1>
      <div class="mb-4">
        <h4 class="mb-2">Btn-light</h4>
        <div class="flex gap-2">
          <button class="btn btn-light">
            <i class="fa-solid fa-user"></i> Light
          </button>          
          <button class="btn btn-light-inverse">
            <i class="fa-solid fa-user"></i> Light inverse
          </button>               
        </div>       
      </div>      
      <div class="mb-4">
        <h4 class="mb-2">Btn-dark</h4>
        <div class="flex gap-2">
          <button class="btn btn-dark">
            <i class="fa-solid fa-user"></i> Dark
          </button>          
          <button class="btn btn-dark-inverse">
            <i class="fa-solid fa-user"></i> Dark inverse
          </button>        
        </div>
      </div>      
      <div class="mb-4">
        <h4 class="mb-2">Btn-lighter</h4>
        <div class="flex gap-2">
          <button class="btn btn-lighter">
            <i class="fa-solid fa-user"></i> Dark
          </button>          
          <button class="btn btn-lighter-inverse">
            <i class="fa-solid fa-user"></i> Dark inverse
          </button>                            
        </div>
      </div>
      <div class="mb-4">
        <h4 class="mb-2">Btn-states</h4>
        <div class="flex gap-2">
          <button class="btn btn-danger">
            <i class="fa-solid fa-user"></i> Danger
          </button>          
          <button class="btn btn-danger-inverse">
            <i class="fa-solid fa-user"></i> Danger inverse
          </button>  
          <button class="btn btn-success">
            <i class="fa-solid fa-user"></i> Success
          </button>          
          <button class="btn btn-success-inverse">
            <i class="fa-solid fa-user"></i> Success inverse
          </button>            
        </div>                                
      </div>
      <div class="mb-4">
        <h4 class="mb-2">Btn-disable</h4>
        <button class="btn btn-disable">
          <i class="fa-solid fa-user"></i> Disable
        </button>      
      </div>
      <div class="mb-4">
        <h4 class="mb-2">Btn-link</h4>
        <a href="#" class="btn btn-link">
          Btn link
        </a>
      </div>            
      <div class="mb-4">
        <h4 class="mb-2">Btn-circles</h4>
        <div class="flex gap-2">       
          <a class="btn-circle">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>         
          <a class="btn-circle-inverse">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>                                             
        </div>
      </div>  
      <div>
        <h4 class="mb-2">Button group</h4>
        <div class="button-group">
          <button class="button-left"><i class="fa-solid fa-user"></i> Botón izquierdo </button>
          <button class="button-right"><i class="fa-solid fa-user"></i> Botón derecho </button>
        </div>                               
      </div>
      <div class="mb-4">
        <h4 class="mb-2">Btn-properties</h4>
        <div class="flex gap-2">
          <button class="btn btn-sm btn-dark">
            <i class="fa-solid fa-user"></i> Btn-small
          </button>          
          <button class="btn btn-block btn-dark">
            <i class="fa-solid fa-user"></i> Btn-block
          </button>          
        </div>
      </div>        
    </div>
  </section>  

<!--///////
SCRIPTS
////////-->
<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/91705bc097.js" crossorigin="anonymous"></script>
<!-- Jquery last version -->
<script src="../assets/js/jquery.min.js"></script>
<!-- Main JS -->
<script src="../assets/js/main.js"></script>	

</body>
</html>
